<%= provide(:title, "Playing") %>
<div class="row">
  <div class="col-md-6">
    <iframe width='360' height='240' src='https://www.youtube.com/embed/<%= @list[params[:index].to_i].uid%>?autoplay=1' frameborder='0' allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <% @list.each do |video| %>
          <li class="list-group-item">
            <div id="media">
              <div class="media">
                    <div class="media-left" id="<%=video.uid%>">
                      <%= image_tag("https://img.youtube.com/vi/#{video.uid}/hqdefault.jpg",size: "150x150", class: "media-object img-thumbnail img-responsive")%>
                    </div>
                    <div class="media-body">
                      <%= content_tag( :h5, video.title)%>
                    </div>
              </div>
            </div>
          </li>
          </ul>
      <% end %>
  </div>
</div>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            location.href = '/list/<%=@next_video_index%>';
        },<%=@list[params[:index].to_i].duration*1000%>);
    });
</script>