<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" >
      <%= link_to image_tag("logo-tadi.png",  size: "120x120", class: "img img-responsive"),
                  root_path, style:"text-decoration:none background-color:black" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li><%= link_to "List play", "/list/0", target: "_blank"%></li>
          <li><%= link_to "List user", users_path%></li>
          <li><%= link_to image_tag("#{current_user.image}",  size: "25x25", class: "img img-circle img-responsive", style: "display: inline-block")+current_user.name, current_user %></li>
          <li><a href="<%=logout_path%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      <% else %>
          <li><a href="/auth/google_oauth2"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>

      <% end %>
    </ul>
  </div>
</nav>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
    <% end %>
  </div>
</header>